<!DOCTYPE html>

<head>
    <script src="https://cdn.jsdelivr.net/combine/npm/chart.js@2.9.3,npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav>
            <div class="containter-fluid">
                <ul>
                    <!--<a class="navbar-brand" href = "/">  <img src =  style="width: 40px;" alt="Taxi's-R-US"></a> -->
                    <li class="nav-item {{'active' if active_page == 'home' else ''}}"><a class="nav-link" href="/" style="font-size: 110%">Home</a></li>
                    <!-- ADD More things here-->
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}
    <div class="container-fluid">
        {% block page_content %} {% endblock %}
    </div>
    {% endblock %}
</body>