<!DOCTYPE html>

<head>
    <script src="https://cdn.jsdelivr.net/combine/npm/chart.js@2.9.3,npm/chart.js@2.9.3/dist/Chart.bundle.min.js">    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
</head>

<body>
    <div style="position: relative; height:600px; width:600px">
    <canvas id="myChart" width="600" height="600"></canvas>
    </div>
</body>

<script>
    var foo = {{nchart|tojson}};
    var ctx = document.getElementById('myChart');

    var myChart = new Chart(ctx, {
        type: foo[0].type,
        data: {
            labels: Object.keys(foo[1]),
            datasets: [{
                label: foo[0].title,
                data: Object.values(foo[1]),
                borderWidth: 1
            }]
        },
        
    });
</script>