{% extends 'base.html' %}
{% block page_title %} Suburb Search {% endblock %}
{% block page_content %}

<head>
    <style>
        p {
            font-size: 14pt;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="col-lg-12">
        <h2>{{ suburb }}</h2>
        <p>Population: {{ suburb_info[13] }} </p>
        <p>Postcode: {{ suburb_info[7] }}</p>
        <p>State: {{ suburb_info[8] }}</p>
        <hr>
        <h3>Demographics</h3>
        <p>Age 0 to 4: {{ suburb_info[2] }} </p>
        <p>Age 5 to 19: {{ suburb_info[3] }} </p>
        <p>Age 20 to 39: {{ suburb_info[4] }} </p>
        <p>Age 40 to 59: {{ suburb_info[5] }} </p>
        <p>Age 60+: {{ suburb_info[6] }} </p>
        <hr>
        <h3>Sales Results</h3>
        <p>Properties sold: {{ suburb_info[9] }}</p>
        <p>Clearance rate: {{ suburb_info[10] }}</p>
        <p>Median sale price: {{ suburb_info[11] }}</p>
        <p>Total sales: {{ suburb_info[12] }}</p>
        </div>
    </div>
</body>
{% endblock %}