{# James Lu #}
{% extends "base.html" %}
{% block page_title %} Thank You {% endblock %}
{% block page_content %}
    <head>
<style>
    p {font-size: 20px;}

    .bg1 {
        padding-top: 150px;
        padding-bottom: 250px;

    }
</style>
    </head>

<body>
    <div class="bg1" style="text-align: center; height: 500px">
        <h1 style="font-size: 300%">
            Thank you for contacting us.
        </h1>
        <br>
        <span class="glyphicon glyphicon-ok-circle" style="color:green; font-size: 750%;">
        </span>
    </div>
</body>
{{ super() }}
{% endblock %}